<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

	<div class="form-group">
		<%= f.label :email %><br />
		<%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
		<%= render "shared/errors", {resource: resource, field: :email} %>
	</div>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>

	<div class="form-group">
		<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		<%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
		<% if @minimum_password_length %>
			<br />
			<em><%= @minimum_password_length %> characters minimum</em>
		<% end %>
		<%= render "shared/errors", {resource: resource, field: :password} %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, class: "form-control",  autocomplete: "new-password" %>
		<%= render "shared/errors", {resource: resource, field: :password_confirmation} %>
	</div>

	<div class="form-group">
		<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
		<%= render "shared/errors", {resource: resource, field: :current_password} %>
	</div>

	<div class="form-group">
		<%= f.submit "Update", class: "btn btn-primary" %>
	</div>
<% end %>

<h3>Cancel my account</h3>

<div class="form-group">Unhappy?
	<br>
	<%= link_to "Delete account", registration_path(resource_name), method: :delete, 
		data: { confirm: "Are you sure?" },  class: "btn btn-primary" %>
</div>

<%= link_to "Back", :back %>
