<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	<div class="form-group">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
		<%= render "shared/errors", {resource: resource, field: :email} %>
	</div>

	<div class="form-group">
		<%= f.label :password %>
			<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
		<%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
		<%= render "shared/errors", {resource: resource, field: :password} %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
		<%= render "shared/errors", {resource: resource, field: :password_confirmation} %>
	</div>

	<div class="form-group">
		<%= f.submit "Sign up", class: "btn btn-primary"%>
	</div>
<% end %>

<%= render "devise/shared/links" %>