<p>
	<strong>Author: </strong>
	<%= comment.author %>
</p>
<p>
	<strong>Comment: </strong>
	<%= comment.body %>
</p>

<% if user_signed_in? && is_user_admin? %>
	<p>
		<%= link_to 'Delete comment', [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %>
	</p>
<% end %>