<%= form_with model: [@post, @post.comments.build] do |form| %>
	<p>
		<%= form.label :author %><br>
		<%= form.text_field :author, :class => 'form-control' %>
	</p>

	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body, :class => 'form-control' %><br>
	</p>

	<p>
		<%= form.submit :class => 'btn btn-primary' %>
	</p>
<% end %>