<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

	<div class="form-group">
		<%= f.label :email %><br />
		<%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
		<%= render "shared/errors", {resource: resource, field: :email} %>
	</div>

	<div class="form-group">
		<%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
