<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %> 
	<%= f.hidden_field :reset_password_token %>

	<div class="form-group">
		<%= f.label :password, "New password" %><br />
		<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em><br />
		<% end %>
		<%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "new-password" %>
		<%= render "shared/errors", {resource: resource, field: :password} %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation, "Confirm new password" %><br />
		<%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
		<%= render "shared/errors", {resource: resource, field: :password_confirmation} %>
	</div>

	<div class="form-group">
		<%= f.submit "Change my password", class: "btn btn-primary" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
