<% if resource.errors.any? %><br>
	<% resource.errors.full_messages_for(field).each do |message| %>
		<% if resource.errors.full_messages_for(field).first == message %>
			<div class="alert alert-danger">
				<%= message  %>
			</div>
		<% end %>
	<% end %>
<% end %>