<ul class="nav nav-pills nav-stacked ml-3">
	<% categories.each do |category, children| %>
		<li>
			<%= link_to category.name, category, class: "list-group-item #{'active' if current_page? (category_path(category))}" %>
			<%= render 'shared/submenu_categories', categories: children if children.present? %>
		</li>
	<% end %>
</ul>