<div class="text-end submenu">
	<h2>Categories</h2>
	<ul class="nav nav-pills nav-stacked">
		<% Category.roots.each do |category| %>
			<li>
				<%= link_to category.name, category, class: "list-group-item list-group-item-secondary #{'active' if current_page? (category_path(category))}" %>
				<%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>
			</li>
		<% end %>
	</ul>
</div>