<%= render 'posts/search_field'%>
<h1><%= @tag.name %></h1>

<% if @tag.posts.empty? %>
	<h2>There are no posts with such tag</h2>
<% else %>
	<%= render @posts %>
	<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
<% end %>