<%= form_with model: [:admin, category] do |form| %>
	<div class="form-group">
		<%= form.label :name %><br>
		<%= form.text_field :name, {:class => 'form-control'}%>
		<%= render "shared/errors", {resource: category, field: :name} %>
	</div>

	<div class="form-group">
		<div class="form-group">
			<%= form.label :parent_id %>
			<% if category.id.present? %>
				<%= form.collection_select :parent_id, Category.where("id != #{category.id}").order(:name), 
					:id, :name, {include_blank:true}, class: 'form-control'%>
			<% else %>
				<%= form.collection_select :parent_id, Category.order(:name), :id, :name, 
					{include_blank:true}, class: 'form-control'%>
			<% end %>
		</div>
	</div>

	<div class="form-group">
		<%= form.submit :class => 'btn btn-primary' %>
	</div>
<% end %>