<h1>Categories</h1>

<div>
	<%= link_to 'New category', new_admin_category_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<br>
<section id="categories">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Parent</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each_with_index do |category, n| %>
				<tr>
					<td><%= n + 1  %></td>
					<td><%= category.name %></td>
					<td><%= category.parent.name if category.parent.present? %></td>
					<td>
						<%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-outline-primary btn-sm' %>
						<%= link_to 'Delete', admin_category_path(category), method: :delete, 
							data: {confirm: 'Are you sure?'},class: 'btn btn-outline-danger btn-sm' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>