<div id="disqus_thread"></div>
<script>

	var disqus_config = function () {
	this.page.url = 'http://localhost.com<%= request.original_fullpath %>';
	this.page.identifier = '<%= @post.id %>';
	};

	(function() {
	var d = document, s = d.createElement('script');
	s.src = 'https://rails-blog-5.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>