<%= form_with model: post do |form| %>
	<div class="form-group">
		<%= form.label :title %><br>
		<%= form.text_field :title, {:class => 'form-control'}%>
		<%= render "shared/errors", {resource: @post, field: :title}%>
	</div>

	<div class="form-group">
		<%= form.label :Summary %><br>
		<%= form.text_area :body, {:class => 'form-control'} %>
		<%= render "shared/errors", {resource: @post, field: :body} %>
	</div>

  	<div class="field">
    	<%= form.label :content %>
    	<%= form.rich_text_area :content %>
		<%= render "shared/errors", {resource: @post, field: :content} %>
  	</div>

	<%# Categories field %>
	<div class="form-group">
		<%= form.label :category_id %>
		<%= form.collection_select :category_id, Category.order(:name), :id, :name, {required: true}, class:'form-control' %>
		<%= render "shared/errors", {resource: @post, field: :category_id} %>
	</div>

	<%# Tags field %>
	<div class="form-group">
		<%= form.label :all_tags %>
		<%= form.text_field :all_tags, class:'form-control', placeholder: 'tag1, tag2, tag3' %>
	</div>

	<%# Image handler %>
	<div class="form-group">
		<%= render "posts/image", {post: post, myclass: 'show-image-container', width: 800, height: 600} %>

		<%# Delete image %>
		<% if post.image.attached? %>
			<%= link_to "Remove image", removeImage_post_path(@post), method: :delete %>
		<% end %>

		<%# Upload image %>
		<% if !post.image.attached? %>
			<%= form.label :Avatar %><br>
			<%= form.file_field :image, {:class => 'form-control'} %>
		<% end %>
	</div>

	<div class="form-group">
		<%= form.submit :class => 'btn btn-primary' %>
	</div>
<% end %>