<article class="mb-2">
	<section id="post-head">
		<small>
			<%= render 'posts/post_head', post: post%>
		</small>
		<h2><%= link_to post.title, post %></h2>
	</section>
	<section class="row" id="post-body">
		<%= render "posts/image", {post: post, myclass: 'ml-3 col-md-2 pr-0 pl-0', width: 200, height: 100} %>
		<div class="col-md-9 col">
			<%= post.body %>
			<small><%= render 'tags/tag', post: post %></small>
		</div>
	</section>
	<hr>
</article>