<div class="p-3 bg-light d-flex justify-content-center mb-2">
	<form class="form-inline flex-wrap d-flex justify-content-center mt-2 mt-md-0" action="/search">
		<input class="form-control mr-sm-2 mt-2 mb-2" name="q" type="text" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-dark me-2 mt-2 mb-2" type="submit">Search</button>
	</form>
</div>