<%= render 'posts/search_field'%>
<div class="row">
	<div class="col-md-9">
		<h2>Posts</h2>
		<%= render @posts %>
		<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
	</div>
	<div class="col-md-3">
		<%= render 'shared/submenu' %>
	</div>
</div>