<% if user_signed_in?  %>
	<%= render 'posts/search_field'%>
	<div class="mb-3 mt-3 row">
		<div class="col-md-9">
			<article>
					<% if is_user_admin? %>
						<div class="form-group">
							<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-outline-primary' %>
							<%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, 
								class: 'btn btn-outline-primary' %>
						</div>
					<% end %>
					<section id="post-head">
						<h2><%= @post.title %></h2>
						<%= render 'posts/post_head', post:@post %>
						<%= render 'tags/tag', post: @post %>
					</section>
					<section id="post-body" class="mt-4">
						<%= @post.content %>
					</section>
			</article>
			<hr>
			<section id="post-comments">
				<%= render 'posts/disqus'%>
			</section>
		</div>
		<div class="col-md-3">
			<%= render 'shared/submenu' %>
		</div>
	</div>
<% else %>
	<div class="alert alert-danger mt-4">You don't have access to this page. Log in first </div>
<% end %>
