//= require actiontext
@import "./actiontext.scss";

article.blog-post{
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #d0dadd;
}

.field_with_errors > input, .field_with_errors > textarea{
	border: 1px solid #d85151;
}

.blog-tag {
	margin: 0 0.2em;
	padding: 0.25em 0.3em;
	border-radius: 10%;
	color: #fff;
	background: #242323be;
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.blog-tag:hover{
	text-decoration: underline;
	padding: 0.25em 0.45em;
	color:white;
}