<%= render 'posts/search_field'%>
<%= render 'shared/breadcrumb', category:@category %>
<%= render 'shared/filtering_posts' %>
<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>