<!DOCTYPE html>
<html>
	<head>
		<title>RailsPvi</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css', 
			media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header class="p-3 bg-dark text-white">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="<%= posts_path %>" class="nav-link px-2 text-secondary">Main page</a></li>
						<% if user_signed_in? && is_user_admin? %>
							<li><a href="<%= new_post_path %>" class="nav-link px-2 text-white">Create new post</a></li>
							<li><a href="<%= admin_categories_path %>" class="nav-link px-2 text-white">Edit categories</a></li>
						<% end %>
					</ul>
					<div class="text-end ">
						<% if user_signed_in? %>
							<%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-outline-light me-2"%>
							<%= link_to "Edit profile", edit_user_registration_path, class:"btn btn-outline-light me-2"%>				
						<% else %>
							<%= link_to "Log in", new_user_session_path, class:"btn btn-outline-light me-2" %>
							<%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning" %>
						<% end %>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>